# Binaries
**/bin/
!vendor/bin/premake/
!GameEngine/vendor/assimp/bin/
bin-int/

# Files
*.user
*.json
github.txt

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user 